
<!DOCTYPE html>
<html lang="zh-Hans">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Index</title>
  <style>
    a{text-decoration: none; border-bottom: 1px solid;}
    *{box-sizing: border-box;}
    body{ margin: 0; min-height: 100vh; display: flex; justify-content: center; }
    .page{ width: 36em; margin: 2em; border: 1px solid #ddd; padding: 0 1em;
      box-shadow: 3px 3px 6px hsla(0,0%,0%,0.1);
    }
    ol>li{ padding:.2em .5em; }
    ol>li:hover{ background: #ddd; }
    ol>li .difficulty{ float: right; }
  </style>

  <div class="page">
    <h1>
      常见组件库
    </h1>

    <ol>
      <li>
        <a href="./tab.html">
          Tab 组件
        </a>
      </li>
      <!-- <li>
        <a href="./datepicker.html">
          日期选择 组件
        </a>
      </li> -->
      <li>
        <a href="./lazyload.html">
          懒加载 组件
        </a>
      </li>
      <!-- <li>
        <a href="./modal.html">
          模态框 组件
        </a>
      </li> -->
      <li>
        <a href="./slider.html">
          轮播 组件
        </a>
      </li>

    </ol>
  </div>

</html>
