<!DOCTYPE html>

<html>

<head>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

  <meta charset="utf-8">
  <title>lazyload</title>
  <style>
    ul,
    li {
      list-style: none;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
    }

    .container:after {
      content: '';
      display: block;
      clear: both;
    }

    .container li {
      float: left;
      margin: 10px 10px;
    }

    .container li img {
      width: 240px;
      height: 180px;
    }

    p {
      float: left;
    }
  </style>

</head>

<body>
  <ul class="container">
    
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhi3xjj20dc0a0mxd.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhjcs5j20dc0a00tj.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhjs48j20dc0a0aal.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhilibj20dc0a03yp.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhiwx8j20dc0a0q36.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhjucgj20dc0a0glq.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhmemzj20dc0a0ab6.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhmemzj20dc0a0ab6.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhmh77j20dc0a0q37.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhno85j20dc0a0aay.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhp1rkj20dc0a0dgd.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj5y6gbkj20dc0a0q35.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhno85j20dc0a0aay.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhno85j20dc0a0aay.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhno85j20dc0a0aay.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhno85j20dc0a0aay.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhno85j20dc0a0aay.jpg" /></a></li>
    <li><a href="#"><img src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fklj8rsms6j207w064jr5.jpg" data-src="https://ws1.sinaimg.cn/large/b8d8d39bgy1fkljdhno85j20dc0a0aay.jpg" /></a></li>
    <!-- <p id="hello">hello</p>
    <p id="world">world</p> -->

  </ul>

  <script type="text/javascript">
    function Exposure($target, callback) {
      this.$target = $target
      this.callback = callback
      this.bind()
      this.check()
    }


    Exposure.prototype.bind = function () {
      var _this = this
      $(window).on('scroll', function () {
        _this.check()
      })
    }

    Exposure.prototype.check = function () {
      if (this.isShow(this.$target)) {
        this.callback(this.$target)
      }
    }
    Exposure.prototype.isShow = function () {
      var windowHeight = $(window).height(),
        scrollTop = $(window).scrollTop(),
        offsetTop = this.$target.offset().top,
        nodeHeight = this.$target.height()
      if (windowHeight + scrollTop > offsetTop && scrollTop < offsetTop + nodeHeight) {
        return true
      } else {
        return false
      }
    }



    var Lazy = (function () {

      return {
        init: function ($targets, callback) {
          $targets.each(function (idx, target) {
            new Exposure($(target), callback)
          })

        },
        one: function ($targets, callback) {

        }

      }
    })()

    // Lazy.init($('#hello'), function ($node) {
    //   $node.text($node.text() + '123')
    // })
    // Lazy.init($('#world'), function ($node) {
    //   $node.text($node.text() + '456')
    // })
    Lazy.init($('.container img'), function ($node) {
      showImg($node)
    })




    function showImg($img) {
      var imgUrl = $img.attr('data-src')
      $img.attr('src', imgUrl)
    }
  </script>

</body>

</html>